# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore log files
*.log

# Ignore build directories
build/
dist/
out/
target/

# Ignore .vscode directory
.vscode/

# Ignore macOS .DS_Store files
.DS_Store

# Parcel
.parcel-cache